.button{
    height: 40px;
    width: 70px;
    outline: none;
    border: 3px solid;
    border-radius: 10px;
    border-color: #79ce7e;
    background-color: rgba(69, 207, 130, 0.87);

}

.disabled{
    height: 40px;
    width: 90px;
    outline: none;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgba(121, 206, 126, 0.76);
    background-color: rgba(72, 236, 156, 0.67);
}