

.counterDisplay{
    text-align: center;
    height: 70px;
    width: 250px;
    border: 3px solid;
    border-color: #79ce7e;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(179, 255, 177, 0.75);
}
.count{
    font-size: 46px;
    color: #525252;
}
.countred{
    font-size: 46px;
    color: #ff4d59;
}
.message{
    font-size: 26px;
    color: #525252;
}
.messagered{
    font-size: 26px;
    color: #ff4d59;
}
